@import "tailwindcss";

/* #root {
  max-width: 1280px; delete
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  will-change: filter;
  transition: filter 200ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #6a6a6daa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.preview, .map-preview {
  /* max-width: 320px;
  width: 320px;
  height: 200px; */
  object-fit: cover;
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  transition: .2s;
}
.preview:hover, .map-preview.selected {
    /* background-size: 300%; */
    background-size: 600%;
    /* transform: scale(1.25); */
    z-index: 5;
}